<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pos_ShoeRetail_.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-MI15A1K;Initial Catalog=ShoeRetail(Pos);Integrated Security=True"
            providerName="sqloledb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>